.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 30px;

  gap: 41px;

  @media (min-width: $vp-768) {
    display: grid;
    padding-top: 40px;
    padding-bottom: 40px;

    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $vp-1440) {
    max-height: 540px;
    padding-top: 49px;

    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }
}

.footer__logo-container {
  display: grid;

  gap: 30px 36px;
  grid-template-columns: 84px 1fr;

  @media (min-width: $vp-768) {
    gap: 30px;
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $vp-1440) {
    display: flex;
    flex-direction: column;

    gap: 40px;
    grid-column: unset;
  }
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-1440) {
    transform: translateY(-12px);

    gap: 10px;
  }
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 3px;

  gap: 6px;
}

.footer__text-wrapper {
  display: flex;
  margin: 0;
  padding-top: 5px;

  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.footer__logo-text {
  display: inline-flex;

  &--tablet {
    display: none;

    @media (min-width: $vp-768) {
      display: inline-flex;
    }
  }
}

.footer__logo-description {
  display: none;
  margin: 0;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $vp-1440) {
    display: block;
  }
}

.footer__social-wrapper {
  width: 100%;

  justify-self: end;

  @media (min-width: $vp-768) {
    width: auto;
    margin-left: auto;

    grid-column-start: 3;
  }

  @media (min-width: $vp-1440) {
    width: 100%;

    justify-self: start;
  }
}

.footer__social-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;
  grid-template-columns: repeat(auto-fit, 40px);

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__social-link {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 40px;
  padding: 9px;

  color: $color-base-grey;
  text-decoration: none;

  background-color: transparent;

  &:hover,
  &:focus {
    color: rgba($color-base-primary, 0.25);
  }

  &:active {
    color: $color-base-primary;
  }
}


.footer__information-list {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 4px;

  &::after {
    content: "";
    position: absolute;
    bottom: -21px;
    left: -100%;

    width: 300%;
    height: 1px;

    background-color: $color-base-secondary;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &:first-of-type::before {
    content: "";
    position: absolute;
    top: -19px;
    left: -100%;

    width: 300%;
    height: 1px;

    background-color: $color-base-secondary;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.footer__information-item {
  &--with-icon {
    position: relative;

    padding-left: 19px;
  }
}

.footer__list-title {
  margin: 0;
  padding-bottom: 8px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-base-primary;
  letter-spacing: 0.28px;
}

.footer__information-link {
  display: inline-flex;
  padding: 8px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.24px;

  outline: none;

  .footer__information-item--with-icon & {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
  }

  .footer__information-item--with-icon &:last-child {
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    color: $color-primary-lighter;
  }

  &:active {
    color: $color-primary-darker;
  }
}

.footer__item-icon {
  position: absolute;
  top: 10px;
  left: 0;

  width: 13px;
  height: 16px;
}

.footer__address {
  padding-top: 8px;
  padding-bottom: 4px;

  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;

  font-size: 12px;
  line-height: 16px;
  color: $color-base-grey;
  text-decoration: none;

  transform: translateY(-1px);

  gap: 4px;
  grid-column: 1/-1;

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    color: $color-primary-darker;
  }
}
